<ion-tabs>
    <ion-tab [root]="libraryRoot" tabTitle="Library" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="favoritesRoot" tabTitle="Favorites" tabIcon="information-circle"></ion-tab>
</ion-tabs>
